@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');
/* mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .main-div{
        min-height: 590px;
        text-align: center;
        padding: 37px;
        background-color: #DDDDDD;
        width: 73%;
        margin: auto auto;
        margin-top: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 1);
        border-radius: 5px;
    }
    h2{
        text-shadow: 1px 0px #000000b3;
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        margin: 20px 0;
    }
    h4{
        font-family: 'Roboto Mono', monospace;
        margin: 20px 0;
        font-size: 15px;
        font-style: italic;
    }
    .main-div img{
        border: 9px solid white;
        width: 250px;
        height: 310px;
    }    
  }
  /* end mobile */
  /* for tablet */
  @media only screen and (min-width: 768px) and (max-width: 1000px) {
    section{
        display: flex;
        flex-flow: row wrap;
    }
    .main-div{
        min-height: 590px;
        text-align: center;
        padding: 37px;
        background-color: #DDDDDD;
        width: 40%;
        margin: auto auto;
        margin-top: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 1);
        border-radius: 5px;
    }
    h2{
        text-shadow: 1px 0px #000000b3;
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        margin: 20px 0;
    }
    h4{
        font-family: 'Roboto Mono', monospace;
        margin: 20px 0;
        font-size: 15px;
        font-style: italic;
    }
    .main-div img{
        border: 9px solid white;
        width: 250px;
        height: 310px;
    }    
  }
/* for desktop */
@media only screen and (min-width: 1001px) and (max-width: 2200px) {
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.main-div{
    min-height: 590px;
    text-align: center;
    padding: 37px;
    background-color: #DDDDDD;
    width: 25%;
    margin: auto auto;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 1);
    border-radius: 5px;
}
h2{
    text-shadow: 1px 0px #000000b3;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    margin: 20px 0;
}
h4{
    font-family: 'Roboto Mono', monospace;
    margin: 20px 0;
    font-size: 15px;
    font-style: italic;
}
.main-div img{
    border: 9px solid white;
    width: 250px;
    height: 310px;
}    
}

/* book form  */
.hide {
    display: none;
}
textarea{
    
    font-size: larger;
    border: 0px;
    width: 90%;
}
.inputText{
    
    background-color: #747373;
    display: block;
    margin: auto;
    padding: 14px 26px;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
}
.inputBtn{margin-top: 20px;
    font-weight: 600;
    color: white;
    background-color: lightseagreen;
    padding: 10px 16px;
    border: 0;
    border-radius: 3px;
    font-size: 17px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.0), 0 2px 5px 0 rgba(67, 21, 0, 1.0);
}